* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  width: 100%;
  margin: 0px;
  padding: 0px; }

<<<<<<< HEAD
.col-md-12 {
  width: 100%;
  height: 100%;
  }

.desktop {
  background-image: url(../img/img-home.png);
  width: 98%;
  height: 102%;
=======
.landing {
  background-image: url(../img/img-home.png);
  width: 100%;
  height: 100%;
>>>>>>> 3670b68938e6184e262fd44e6056ef85c431558d
  background-repeat: no-repeat;
  margin-top: -20px; }

ul li {
<<<<<<< HEAD
  display: inline-block;
 }
=======
  display: inline-block; }

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0 14px;
  min-height: 70px; }
>>>>>>> 3670b68938e6184e262fd44e6056ef85c431558d

 #ingresar {
  color: red;
  background-color: gray;
  margin: 6px;
  border-radius: 40%;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
<<<<<<< HEAD
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 57%;
  display:block;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent ;
  }
.navbar-default .navbar-nav > li > a {
  color: #777;
  font-size: 22px;
  font-family: "Lato";
}
.slogan{
    .row {
        width: 50%;
        margin: 0;
        position:relative;
        left:50%;
        text-align: center;
        padding: 128px 20px 60px 100px;
      h1 {
        font-family: "Lato";
        color: rgb(40, 197, 230)
          }
      p{
        margin-top: 8%;
        font-size: 15px;
        font-family: "Lato";
      }
      img{
          margin-top:20%;
          }
      }
  }
img.faro-1 {
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.slogan2 h1 {
    font-family: "Lato";
    color: #28c5e6; 
    text-align: center;}
.slogan2 p {
    margin-top: 8%;
    margin-bottom:8%;
    font-size: 17px;
    font-family: "Lato";
    text-align: center;
 }
 img.home {
  width: 100%;
}
.boton-1 {
  display: inline-block;
  margin-top: 0;;
  margin-left:50%;
}
img.boton {
  border-radius: 50%;
}
a.crea {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

button.perfil {
  background-color: red;
  padding: 3%;
  border-color: red;
  border-radius: 14%;
  margin-top: 3%;
}
.metodologia{
  margin-top: 0%;
      h1 {
        font-family: "Lato";
        color: rgb(40, 197, 230);
        text-align:center;
        margin-top: 8%;
        margin-bottom: 6%;
        }
      h2{
        font-family: "Lato";
        color:#EC6645;
        text-align:center;
      }
      span{
        font-family: "Lato";
        font-size: 23px;
        margin-left: 21%;
      }
    }
.comi-1 {
  display: inline-block;
  position: absolute;
  left: 23%;
}
.comi-2{
  display: inline-block;
  position: absolute;
  left: 77%;
}
.circulo-1 {
  background-color: #EC6645;
  height: 400px;
  border-radius: 100%;
  width: 35%;
  margin: 0 auto;
  margin-top: 50px;
}
.circulo-2 {
  height: 381px;
  border-radius: 50%;
  width: 389px;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  border: 2px white dashed;
}
.linea1 {
  width: 200px;
  height: 47px;
  border-bottom: 2px dashed #EC6645;
  -webkit-transform: translateY(10px) translateX(2px) rotate(-18deg);
  position: absolute;
  top: 437px;
  left: 190px;
}
.linea2 {
  width: 200px;
  height: 47px;
  border-bottom: 2px dashed #EC6645;
  -webkit-transform: translateY(10px) translateX(2px) rotate(23deg);
  position: absolute;
  top: 440px;
  right: 202px;
}
.linea3 {
  width: 200px;
  border-bottom: 2px dashed #EC6645;
  -webkit-transform: rotate(90deg);
  position: absolute;
  top: 847px;
  right: 509px;
}
 h1{

 
 }
=======
}
>>>>>>> 3670b68938e6184e262fd44e6056ef85c431558d
