.roww .col-lg-6 {
  width: 50%;
  display: inline-block;
  margin-left: -2px;
}
.equipo .row {
  width: 88%;
  position: relative;
  left: 7%;
}
.blog .col-lg-4 {
  width: 33.333%;
  display: inline-block;
  margin-left: -3px;
  margin-top: -4px;

}
.comite {
  height: 465px;
}
.row, .roww {
  margin-left: 18px;
  margin-right: -15px;
}
.navbar-default .hidden-lg .hidden-md {
  background-color: #B8DBCB;
  border-color: #B8DBCB;
}
.logo li {
  list-style: none;
}
 .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 58.8%;
  display: block;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
}
 .hidden-xs .navbar-right {
  margin-top: 14px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: -3px;
}
.caret {
  display: inline-block;
  width: 0px;
  height: 19px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.noso img {
  vertical-align: middle;
  width: 100%;
}
.tex h1 {
  position: relative;
  top: -415px;
  text-align: center;
  color: white;
}
.noso {
  height: 561px;
}
.img p {
  width: 27%;
  text-align: center;
  position: relative;
  top: -390px;
  margin: 0 auto;
  font-size: 24px;
  color: white;
}
.boton-3 {
  display: inline-block;
  position: relative;
  left: 46%;
  top: -21px;
}
.boton-3 img{
	border-radius: 50%;
}
.equipo .img {
  width: 65%;
}
.equipo img {
  vertical-align: middle;
  width: 100%;
  height: 174px;
  border-radius: 50%;
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
}
.row h1{
  color: #28c5e6;
  margin-left: 18px;
}
.titu h1 {
  font-size: 45px;
  color: gray;
  text-align: center;
  margin-bottom: 37px;
}
.tit h1{
  font-size: 36px;
  text-align: center;
  width: 80%;
  color: gray;
  margin-left: 111px;
}
.equipo span {
  margin-left: 67px;
  color: #989898;
  font-weight: 800;
}
.equipo p {
  width: 81%;
  text-align: center;
  margin-left: -23px;
  margin-top: 14px;
  margin-bottom: 17%;
}
.hidden-lg .hidden-md .linea1 {
  border: 1px dashed gray;
  width: 80%;
  margin-left: 13%;
}
.asesores img {
  width: 65%;
}
.asesores img {
  vertical-align: middle;
  width: 44%;
  height: 174px;
  border-radius: 50%;
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 44px;
}
.asesores span {
  color: #989898;
  font-weight: 800;
}
.asesores p {
  width: 81%;
  text-align: center;
  margin-left: -25px;
  margin-top: 14px;
  margin-bottom: 17%;
  font-size: 16px;
}
.asesores .roww {
  width: 91%;
  position: relative;
  left: 7%;
}
.roww h1 {
  color: #28c5e6;
  margin-left: 9%;
}
.text-1- span{
	margin-left: 16%;
}
.text-2 span {
  margin-left: 24%;
}
.hidden-lg .hidden-md .linea2 {
  border: 1px dashed gray;
  width: 80%;
  margin-left: 9%;
  margin-top: -12px;
}
.comite .row{
	margin-left: 0;
	margin-right: 0;
}
.comite .col-lg-4 {
  margin-top: 100px;
  width: 30%;
}
.comite .text-1{
  width: 75%;
  margin-left: 22%;
}
.comite p {
  text-align: center;
  margin-top: 20px;
}
.comite span {
  margin-left: 60px;
  color: gray;
  font-weight: 800;
}
.boton-4 {
  display: inline-block;
  position: relative;
  left: 46%;
  top: -40px;
}
.boton-4 img{
	border-radius: 50%;
}
.genio{
	background-color: #ff6a49;
	min-height: 300px;
	width: 100%;
  margin-top: 445px;
}
.foco {
  display: inline-block;
  margin-left: 44%;
  margin-top: 6%;
}
.hidden-lg .hidden-md .linea3 {
  border-bottom: 2px dashed white;
  border-top: 2px dashed white;
  width: 25%;
  margin: 0 auto;
  margin-top: 48px;
}
.linea3 p {
  margin: 10px 0 10px;
  font-size: 36px;
  width: 701px;
  color: white;
  margin-left: -181px;
  text-align: center;
}
.tex1 p {
  display: inline-block;
  width: 66%;
  text-align: center;
  color: white;
  margin-left: 17.5%;
  font-size: 21px;
  margin-top: 6%;
  margin-bottom: 7%;
}
.footer.hidden-xs {
  background-color: #989898;
  height: 58px;
  width: 100%;
}
.footer p {
  margin: 0 0 10px;
  color: white;
  display: inline-block;
  margin-left: 81%;
}
.face, .twi, .google{
  display: inline-block;
  margin-left: 15px;
}
.redes{
  margin-left: 3%;
}
.footer.hidden-xs img{
  border-radius: 50%;
  margin-top: -20px;
  height: 50px;
}
.img-r img{
  border-radius: 50%;

}
.img-r {
  margin-left: 38%;
  border-radius: 50%;
  position: relative;
  top: 35px;
}
.tex-2 {
  width: 77%;
  margin: 0 auto;
  background: rebeccapurple;
  padding: 10px 36px;
}
.tex-2 p{
  font-size: 15px;
  color: black;
}
.blog h1 {
  color: gray;
  padding: 0px;
  margin-bottom: 0;
  text-align: center;
}
.blog p {
  font-size: 15px;
  color:white;
  background-color: #989898;
  padding: 17% 10%;
  text-align: justify;
}
.foter.hidden-xs {
  background-color: #989898;
  height: 58px;
  width: 100%;
  margin-top: 12%;
}
.foter p {
  margin: 0 0 10px;
  color: white;
  display: inline-block;
  margin-left: 81%;
}
.foter.hidden-xs img{
  border-radius: 50%;
  margin-top: -20px;
  height: 50px;
}
.comite .col-lg-4 {
  width: 33.33%;
  display: inline-block;
  margin-left: -3px;
}
.equipo .col-lg-4 {
  width: 33.33%;
  display: inline-block;
  margin-left: -3px;
}
.fer.hidden-xs {
  background-color: #989898;
  height: 63px;
  width: 100%;
  margin-top: 42%;
}
.fer img {
  border-radius: 50%;
  position: relative;
  top: -16px;
}
.fer p {
  margin: 0 0 10px;
  color: white;
  display: inline-block;
  margin-left: 81%;
}