.metodo {
	padding: 0 22px 0 18px;
}
.metodo h1 {
  font-size: 36px;
  text-align: center;
  color: #28c5e6;
  font-family: "Lato";
  padding: 30px 0px 17px 0px;
}
.metodo p {
  text-align: center;
  color: gray;
  margin: 0 25px 0 25px;
}
.com h2 {
  color: #ff6a49;
  text-align: center;
}  
.li1 {
  border: 1px dashed #ff6a49;
  width: 80%;
  margin-top: 21px;
  margin-left: 34px;
}
.li2 {
  width: 75%;
  border-bottom: 2px dashed #EC6645;
  -webkit-transform: rotate(180deg);
  margin: 0 auto;
  position: relative;
}
.ima {
  background-color: skyblue;
  width: 100%;
  height: 250%;
}
.postula {
	position: relative;
  top: 600px
} 
.faro {
  position: relative;
  top: -500px;
}
.rw .col-xs-6 {
  width: 100%;
  position: relative;
  top: -480px;
}
.rw2 .col-xs-6 {
  width: 100%;
  margin-top: -100%;
}
.row3 .col-xs-6 {
  width: 100%;
  position: relative;
  top: -47px;
}
.un ul li {
  display: block;
  text-align: center;
  margin-top: 23px;
}
.rw .lin0 {
  border: 1px dashed white;
  width: 75%;
  margin-left: 12.5%;
}
.rw2 .lin1 {
  border: 1px dashed white;
  width: 75%;
  margin-left: 14%;
}
.row3 .lin2 {
  border: 1px dashed white;
  width: 75%;
  margin-left: 43px;
}
.titulo ul li {
  display: block;
  text-align: center;
  margin-top: 23px;
}
.imagenes ul li {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.ima h2 {
  font-size: 33px;
  color: white;
}
.ima h3 {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 0 22px 0 22px;
}
.three h3 {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 0 10px 0 1px;
}
.faroem {
  position: relative;
  top: 518px;
}
.faroem h1 {
  font-size: 36px;
  text-align: center;
  color: #ff6a49;
  font-family: "Lato";
  padding: 95px 20px 17px 20px;
}
.til p {
  text-align: center;
  font-size: 24px;
  color: gray;
}
.faroem .row1 {
  margin-top: 40px;
}
.faroem h2 {
  color: #ff6a49 ;
  text-align: center;
  margin-bottom: 30px;
}
.faroem p {
  color: gray;
  text-align: center;
  font-size: 19px;
}
.te1 a {
  color: skyblue;
  text-decoration: none;
  font-size: 14px;
  margin-left: 120px;
}
.faroem .col-lg-5 {
  margin-top: 30px;
}
.faroem button.conta {
  background-color: #ff6a49;
  padding: 4px 34px;
  border-color: #ff6a49;
  border-radius: 11px;
  margin-top: 13%;
  position: relative;
  left: 29%;
  margin-bottom: 10%;
}
.farocol {
  background-color: #77d248;
  width: 100%;
  height: 206%;
  position: relative;
  top: 500px;
}
.t p {
  text-align: center;
  font-size: 24px;
  margin-top: 31px;
  color: yellow;
  margin-bottom: 22px;
  width: 100%;
}
.lin6 {
  border: 1.5px white dashed;
  width: 75%;
  margin-left: 12%;
}
.imcol .row6 {
  margin-top: 16%;
}
.row6 .tex-2-1{
  width: 76%;
  margin: 0 auto;
}
.row6 .tex-2-1 p {
  font-size: 15px;
  color: white;
  text-align: center;
  margin-bottom: 55px;
}
.row6 .conta-1 {
  border-radius: 11px;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  margin-top: -1%;
  position: relative;
  left: 32%;
  margin-bottom: 6%;
}
.blg.hidden-lg.hidden-md {
  position: absolute;
  width: 100%;
  height: 155%;
  top: 864.5%;
}
.bli h1{
  color: #989898;
}
.tex-2-1 p{
  color: gray;
  text-align: center;
}
.img-re img{
  border-radius: 50%;
}
.img-re {
  display: inline-block;
  margin-left: 40%;
}
.tex-2-1 {
  width: 77%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cont {
  border-radius: 11px;
  padding: 10px 30px;
  background-color: #28c5e6;
  border: 2px solid #28c5e6;
  margin-top: 16%;
  position: relative;
  left: 29%;
  margin-bottom: 6%;
}
.contct.hidden-lg.hidden-md {
  position: absolute;
  top: 1019.6%;
  background-color: #E0E0E0;
  height: 90%;
  width: 100%;
}
.contct h1 {
  font-size: 36px;
  text-align: center;
  color: gray;
  font-family: "Lato";
  padding: 30px 0px 17px 0px;
}
.contct input[type="text"],
 input[type="password"] {
  padding: 8px 6px;
  height: 37px;
  width: 285px;
  margin-left: 12%;
}
.contct textarea {
  padding: 7px;
  width: 285px;
  height: 100px;
  margin-left: 12%;
}
.contct .formulio {
  margin-top: 46px;
}
.contct input[type="submit"] {
  padding: 6px 32px;
  color: white;
  background-color: gray;
  border: 2px solid gray;
  width: 285px;
  border-radius: 11px;
  font-weight: 800;
  margin-left: 12%;
  margin-bottom: 1%;
  margin-top: 31px;
}
.contct p {
  color: gray;
  text-align: center;
  font-size: 17px;
  margin-top: 38px;
}
.fter {
  position: absolute;
  top: 1110%;
  width: 100%;
  height: 80px;
  background-color: gray;
}
.fter img{
  border-radius: 50%;
}
.redes {
  margin-left: 13%;
  margin-top: 0%;
}
.fter .redes {
  margin-left: 13%;
  margin-top: -3%;
}
.fter p {
  color: white;
  text-align: center;
  margin-top: 14px;
}


